h3 {
    text-align: center;
}

.text-centerbt {
    text-align: center;
}

.contenedor-opciones {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contenedor-labels {
    display: flex;
    gap: 30px;
}

.boton-saber {
    background-color: crimson;
    color: whitesmoke;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor-labels label {
    background-color: gray;
    color: whitesmoke;
    font-weight: bold;
    padding: 5px 15px;
    margin-bottom: 1rem;
    border-radius: 10px;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.contenedor-botones a {
    display: none;
}


#sitio-web,
#whatsapp {
    display: none;
}


#sitio-web:checked ~ .contenedor-botones .web{
    display: block;
}

#whatsapp:checked ~ .contenedor-botones .wapp{
    display: block;
}